@{
    ViewData["Title"] = "404 - Page not found";
}

<section class="error-404">
    <div class="container">
        <div class="content">
            <img class="img-404" src="~/images/404-error.jpg"/>
            <h1>404 Error - Page not found</h1>
            <p>The page you are looking for is not available</p>
        </div>
        <nav>
            <a class="btn-theme-s" asp-action="Home" asp-controller="Default"><i class="fa-regular fa-home"></i>Go to home page</a>
        </nav>
    </div>
</section>