@model SubscribeViewModel

<section id="subscribe" class="subscribe">
    <div class="container">
        <div class="title">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="~/images/newsletter/newsletter-arrow.svg" alt="swirl arrow" />
        </div>
        <form class="newsletter-form" method="post" asp-action="Subscribe" asp-controller="Default" novalidate>
            <div class="alternative">
                <h4>Sign up for<br /> newsletters</h4>
                <div class="options">
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="DailyNewsletter" />
                            <label asp-for="DailyNewsletter">Daily Newsletter</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="AdvertisingUpdates" />
                            <label asp-for="AdvertisingUpdates">Advertising Updates</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="WeekinReview" />
                            <label asp-for="WeekinReview">Week in Review</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="EventUpdates" />
                            <label asp-for="EventUpdates">Event Updates</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="StartupsWeekly" />
                            <label asp-for="StartupsWeekly">Startups Weekly</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="Podcasts" />
                            <label asp-for="Podcasts">Podcasts</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-email">
                <div class="input-group">
                    <i class="fa-regular fa-envelope"></i>
                    <input asp-for="Email" />
                </div>
                <button type="submit" class="btn-theme">Subscribe*</button>
            </div>
            
            @if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
            {
                var message = TempData["StatusMessage"]!.ToString();
                var cssClass = "status-message";

                if (message!.Contains("newsletter"))
                {
                    cssClass = "status-message-success"; 
                }
                else if (message!.Contains("Invalid"))
                {
                    cssClass = "status-message-error"; 
                }
                else
                {
                    cssClass = "status-message-conflict";
                }

                <span asp-validation-for="Email" class="@cssClass">@message</span>
            }
            else
            {
                <span asp-validation-for="Email" class="status-message">* Yes, I agree to the terms and privacy policy</span>
            }
        </form>
        <div class="unsubscribe-default">
            Unsubscribe? Click <a asp-action="Unsubscribe" asp-controller="Default">here</a>.
        </div>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")