@using webbapp.ViewModels.Sections

@model SwitchBetweenViewModel

<section class="switch-between">
    <div class="container">
        <div class="title">
            <h1 class="title-1">Switch Between</h1>
            <h1 class="title-2">Light & Dark Mode</h1>
        </div>
    </div>
    <img src="~/images/switch-between/mockup.svg" alt="Switch between light & dark mode">
</section>
