@model FeaturesViewModel

<section class="features">
    <div class="title">
        <h2>@Model.Title</h2>
        <p>@Model.Text</p>
    </div>
    <div class="container">
        <div class="features-box">
            <img src="images/features/features-icon-1.svg">
            <h5>
                Comments on Tasks</h4>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div class="features-box">
            <img src="images/features/features-icon-2.svg">
            <h5>Tasks Analytics</h5>
            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div class="features-box">
            <img src="images/features/features-icon-3.svg">
            <h5>Multiple Assignees</h5>
            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div class="features-box">
            <img src="images/features/features-icon-4.svg">
            <h5>Notifications</h5>
            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div class="features-box">
            <img src="images/features/features-icon-5.svg">
            <h5>Sections & Subtasks</h5>
            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div class="features-box">
            <img src="images/features/features-icon-6.svg">
            <h5>Data Security</h5>
            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
    </div>
</section>
