@using webbapp.ViewModels.Sections

@model SwitchBetweenViewModel

<section class="switch-between">
    <div class="container">
        <div class="title">
            <h1 class="title-1">@Model.Title1</h1>
            <h1 class="title-2">@Model.Title2</h1>
        </div>
    </div>
    <img src="@Url.Content(Model.ImageUrl.ImageUrl)" alt="@Model.ImageUrl.AltText">
</section>
