.signin {
    margin-top: 40px;

    .container {
        display: inline-flex;
        flex-direction: column;

        form {
            width: 80%;
           

            .form-content {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "remember" "submit";
                gap: 20px;
            }

            .input-group {
                margin-bottom: 20px;

                label {
                    padding: 3px;
                }
            }

            .checkbox-group {
                margin-top: 10px;
                margin-bottom: 20px;
            }

            #email {
                grid-area: email;
            }

            #password {
                grid-area: password;
            }


            #rememberMe {
                grid-area: remember;
                margin: 0;
                padding: 0;
            }

            #btn-submit {
                grid-area: submit;
            }
        }
    }

    .field-validation-error {
        position: absolute;
        top: 85px;
        font-size: 14px;
        color: $danger;
        font-weight: 500 !important;
        padding: 2px 5px;
    }

    [data-valmsg-for="TermsAndConditions"] {
        top: 45px;
    }
}

@media (min-width: 992px) {
    .signin {
        margin-top: 80px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center; // Horizontally center the child
        align-items: center;

        .container {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            form {
                .input-group {
                    label {
                        padding: 3px;
                    }
                }

                .checkbox-group {
                    margin-top: 30px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}
