.signup {
    margin-top: 40px;

    .container {
        width: 95%;

        form {
            .form-content {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "submit";
                gap: 20px;
            }

            .input-group {
                label {
                    padding: 3px;
                }
            }

            .checkbox-group {
                margin-top: 10px;
                margin-bottom: 20px;
            }

            #firstName {
                grid-area: firstname;
            }

            #lastName {
                grid-area: lastname;
            }

            #email {
                grid-area: email;
            }

            #password {
                grid-area: password;
            }

            #confirm {
                grid-area: confirm;
            }

            #terms {
                grid-area: terms;
            }

            #btn-submit {
                grid-area: submit;
            }
        }
    }

    .field-validation-error {
        position: absolute;
        top: 100px;
        font-size: 14px;
        color: $danger;
        font-weight: 500 !important;
        padding: 2px 5px;
    }

    [data-valmsg-for="TermsAndConditions"] {
        top: 45px;
    }
}

@media (min-width: 992px) {
    .signup {
        margin-top: 40px;

        .container {
            width: 40%;

            form {
                .form-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email email" "password confirm" "terms terms" "submit submit";
                }

                .input-group {
                    label {
                        padding: 3px;
                        margin-top: 15px;
                    }
                }

                .checkbox-group {
                    margin-top: 30px;
                    margin-bottom: 40px;
                }

                #terms .input-group label {
                    margin-bottom: 20px; // Your desired margin
                    margin-top: 22px; // Maintain the existing top margin if needed
                }
            }
        }
    }
}
