.unsubscribe {
    margin-top: 100px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        flex-direction: column;

        .content {

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 15px;
                margin-top: 20px;

                .input-group {
                    width: 40%;
                }

                .btn-theme-danger {
                    height: 57px;
                    margin-top: 25px;
                }
            }

            #text {
            }
        }

        .return {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            margin-bottom: 80px;
        }
    }
}
