@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 16px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
  border: none;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-transparent {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: transparent;
  color: #33354D;
  border: 1px solid transparent;
  margin-top: 4px;
}
.btn-transparent:hover {
  text-decoration: none;
  border: 1px solid #adadad;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #EFF2FC;
  color: #33354D;
  border: none;
}
.btn-gray:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #EFF2FC;
  color: #33354D;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

form {
  width: 100%;
  display: grid;
}
form .input-group {
  display: grid;
}
form .checkbox-group input[type=checkbox] {
  margin-right: 10px;
}
form .checkbox-group .input-group {
  display: flex;
  align-items: center;
}
form input {
  padding: 15px;
  border-radius: 8px !important;
  border: 1px solid #D4D7E5;
}
form input::placeholder {
  opacity: 0.4;
}
form input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 0;
}
form .btn-theme-s {
  width: 100%;
}
form .field-validation-error {
  font-size: 14px;
  color: #EF4444;
  font-weight: 500 !important;
  padding: 2px 5px;
}

.alert {
  background: #F5D7DA;
  color: #EF4444;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile";
  gap: 40px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
  display: none;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  display: flex;
  gap: 15px;
}
header .container .btn-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 992px) {
  header .container .btn-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  display: none;
  gap: 15px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}

footer {
  padding: 50px 0 30px 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  color: #9397AD;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.showcase {
  position: relative;
  margin-bottom: 80px;
}
@media (min-width: 992px) {
  .showcase {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
.showcase img {
  position: relative;
  width: 100%;
  z-index: -1;
}
@media (min-width: 992px) {
  .showcase img {
    width: 45%;
  }
}
.showcase .container {
  height: 100%;
}
@media (min-width: 992px) {
  .showcase .container {
    position: absolute;
    left: 0;
    right: 0;
  }
}
.showcase .container .content {
  margin-top: 0;
  width: 100%;
  text-align: center;
}
.showcase .container .content h1 {
  margin-right: 150px;
}
.showcase .container .content p {
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .showcase .container .content {
    margin-top: 100px;
    width: 40%;
    text-align: left;
  }
}
.showcase .container .content h6 {
  margin-top: 140px;
  margin-bottom: 30px;
}
.showcase .container .content .showcase-logos {
  display: flex;
}
@media (min-width: 992px) {
  .showcase .container .content .showcase-logos img {
    margin-right: 20px;
    width: 24%;
  }
}

.features {
  padding: 80px;
  background-color: #F3F6FF;
}
.features .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features .title p {
  margin-top: 15px;
}
.features .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.features .container .features-box {
  text-align: center;
  border: 1px solid #E2E5F1;
  transition: all 0.2s ease-in-out;
  gap: 10px;
}
.features .container .features-box:hover {
  background-color: #FFFFFF;
  border-radius: 25px;
}
.features .container .features-box img {
  margin-top: 70px;
  margin-bottom: 30px;
}

.switch-between {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0B0F19 0%, #0B0F19 50%, #FFFFFF 50%, #FFFFFF 100%);
}
.switch-between .container .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 80px 0 80px 30px;
  column-gap: 20px;
}
.switch-between .container .title .title-1 {
  color: #FFFFFF;
}
.switch-between .container .title .title-2 {
  color: #0B0F19;
}
.switch-between img {
  width: 50%;
  margin-bottom: 120px;
}

.manage-your-work {
  margin-top: 100px;
}
.manage-your-work .container {
  display: grid;
  grid-template-columns: auto auto;
}
.manage-your-work .container .text-box h2 {
  margin-top: 80px;
  margin-bottom: 30px;
}
.manage-your-work .container .text-box .p-box {
  display: flex;
  justify-content: left;
  align-items: center;
}
.manage-your-work .container .text-box .p-box i {
  color: #6366F1;
  border: 2px solid #6366F1;
  border-radius: 25px;
  padding: 2px 3px;
}
.manage-your-work .container .text-box .p-box p {
  margin-top: 15px;
  margin-left: 8px;
}
.manage-your-work .container .text-box .btn-theme-s {
  margin-top: 30px;
}

.download-our-app {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #EFF2FC;
}
.download-our-app .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.download-our-app .container .img-box {
  position: relative;
  top: 0;
  left: 0;
}
.download-our-app .container .img-box .phone-bottom {
  position: relative;
  top: 50px;
  left: 100px;
}
.download-our-app .container .img-box .phone-top {
  position: absolute;
  top: 10px;
  box-shadow: -25px 25px 30px 10px rgba(90, 90, 90, 0.3);
  border-radius: 25px;
}
.download-our-app .container .text-box h1 {
  padding: 50px;
  margin-right: 150px;
}
.download-our-app .container .text-box .store-text {
  margin-left: 50px;
}
.download-our-app .container .text-box .store-box {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.download-our-app .container .text-box .store-box .text-link-box .rating-text {
  margin-bottom: 50px;
}
.download-our-app .container .text-box .store-box a {
  margin-left: 90px;
}
.download-our-app .container .text-box .store-box a img {
  margin-top: 5px;
  width: 200px;
  height: auto;
}

.top-work-tools {
  padding-bottom: 80px;
}
.top-work-tools .container .title {
  text-align: center;
  padding: 50px 280px 50px 280px;
}
.top-work-tools .container .title h1 {
  margin-top: 60px;
  margin-bottom: 20px;
}
.top-work-tools .container .title p {
  margin-bottom: 30px;
}
.top-work-tools .container .tools-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 80px;
}
.top-work-tools .container .tools-boxes .tools-box img {
  margin-bottom: 20px;
}

.newsletter {
  background-color: #F3F6FF;
  padding: 80px 0 80px 0;
}
.newsletter .container .title {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.newsletter .container .check-boxes {
  display: grid;
  justify-content: center;
  grid-template-areas: "subtitle box box box" "subtitle box box box";
  margin-top: 30px;
  margin-bottom: 50px;
}
.newsletter .container .check-boxes .subtitle {
  grid-area: "subtitle";
  padding: 10px 40px 0px 40px;
}
.newsletter .container .check-boxes .boxes {
  display: grid;
  grid-area: "box";
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 80px;
}
.newsletter .container .check-boxes .boxes .check-boxes-and-text {
  margin-left: 15px;
}
.newsletter .container .check-boxes .boxes .check-boxes-and-text input {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.newsletter .container .newsletter-bar {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.newsletter .container .newsletter-bar .input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.newsletter .container .newsletter-bar .input-icon-wrapper .fa-envelope {
  position: absolute;
  left: 30px;
}
.newsletter .container .newsletter-bar .input-icon-wrapper .text {
  padding: 10px 25px;
  width: 830px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #B4B7C9;
}
.newsletter .container .newsletter-bar .btn-theme {
  padding: 10px 25px;
}
.newsletter .container .tos {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  margin-left: 175px;
  column-gap: 4px;
}

.signup {
  margin-top: 40px;
}
.signup .container {
  width: 95%;
}
.signup .container form .form-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "submit";
  gap: 20px;
}
.signup .container form .input-group label {
  padding: 3px;
}
.signup .container form .checkbox-group {
  margin-top: 10px;
  margin-bottom: 20px;
}
.signup .container form #firstName {
  grid-area: firstname;
}
.signup .container form #lastName {
  grid-area: lastname;
}
.signup .container form #email {
  grid-area: email;
}
.signup .container form #password {
  grid-area: password;
}
.signup .container form #confirm {
  grid-area: confirm;
}
.signup .container form #terms {
  grid-area: terms;
}
.signup .container form #btn-submit {
  grid-area: submit;
}

@media (min-width: 992px) {
  .signup {
    margin-top: 40px;
  }
  .signup .container {
    width: 40%;
  }
  .signup .container form .form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstname lastname" "email email" "password confirm" "terms terms" "submit submit";
  }
  .signup .container form .input-group label {
    padding: 3px;
  }
  .signup .container form .checkbox-group {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.signin {
  margin-top: 40px;
}
.signin .container {
  width: 95%;
}
.signin .container form .form-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "email" "password" "remember" "submit";
  gap: 20px;
}
.signin .container form .input-group label {
  padding: 3px;
}
.signin .container form .checkbox-group {
  margin-top: 10px;
  margin-bottom: 20px;
}
.signin .container form #email {
  grid-area: email;
}
.signin .container form #password {
  grid-area: password;
}
.signin .container form #rememberMe {
  grid-area: remember;
}
.signin .container form #btn-submit {
  grid-area: submit;
}

@media (min-width: 992px) {
  .signin {
    margin-top: 40px;
  }
  .signin .container {
    width: 40%;
  }
  .signin .container form .input-group label {
    padding: 3px;
  }
  .signin .container form .checkbox-group {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.error-404 .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-404 .container .content .img-404 {
  width: 40%;
  height: auto;
}
.error-404 .container nav button {
  width: 40%;
}

.container h5 {
  color: #6366F1;
  margin-top: 25px;
  margin-bottom: 25px;
}
.container #account-details {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.container #account-details aside .profile-info {
  width: 280px;
  text-align: center;
}
.container #account-details aside .profile-info img {
  margin-top: 40px;
  margin-bottom: 15px;
}
.container #account-details aside nav {
  display: flex;
  flex-direction: column;
}
.container #account-details aside nav a {
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px;
}
.container #account-details aside nav i {
  margin-right: 8px;
}
.container #account-details aside nav i:hover {
  text-decoration: none;
}
.container #account-details .vl {
  border-left: 1px solid #d1d1d1;
}
.container #account-details .details {
  margin-left: 80px;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.container #account-details .details .basic-info-form .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "first last" "email phone" "bio bio";
  gap: 15px;
}
.container #account-details .details .basic-info-form .content .input-group {
  margin-top: 10px;
}
.container #account-details .details .basic-info-form .content .input-group textarea {
  padding: 15px;
  border-radius: 8px !important;
  border: 1px solid #D4D7E5;
}
.container #account-details .details .basic-info-form .content .input-group textarea::placeholder {
  opacity: 0.4;
}
.container #account-details .details .basic-info-form .content #form-firstname {
  grid-area: first;
}
.container #account-details .details .basic-info-form .content #form-lastname {
  grid-area: last;
}
.container #account-details .details .basic-info-form .content #form-email {
  grid-area: email;
}
.container #account-details .details .basic-info-form .content #form-phone {
  grid-area: phone;
}
.container #account-details .details .basic-info-form .content #form-bio {
  margin-top: 0;
  grid-area: bio;
}
.container #account-details .details .basic-info-form .content .form-buttons {
  display: flex;
  column-gap: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.container #account-details .details .address-info-form .content {
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "line1 line1" "line2 line2" "postal city";
}
.container #account-details .details .address-info-form .content #form-addressline-1 {
  grid-area: line1;
}
.container #account-details .details .address-info-form .content #form-addressline-2 {
  grid-area: line2;
}
.container #account-details .details .address-info-form .content #form-postal-code {
  grid-area: postal;
}
.container #account-details .details .address-info-form .content #form-city {
  grid-area: city;
}
.container #account-details .details .address-info-form .content .form-buttons {
  display: flex;
  column-gap: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}
