form {
    width: 100%;
    display: grid;

    .input-group {
        display: grid;
    }

    label[for="Email"] {
        font-weight: 600;
        color: $gray-900;
    }

    label[for="Password"] {
        font-weight: 600;
        color: $gray-900;
    }

    label[for="FirstName"] {
        font-weight: 600;
        color: $gray-900;
    }

    label[for="LastName"] {
        font-weight: 600;
        color: $gray-900;
    }

    label[for="ConfirmPassword"] {
        font-weight: 600;
        color: $gray-900;
    }

    .checkbox-group {
        input[type = checkbox] {
            margin-right: 10px;
        }

        .input-group {
            display: flex;
            align-items: center;
        }
    }

    input {
        padding: 15px;
        border-radius: 8px !important;
        border: 1px solid $gray-400;

        &::placeholder {
            opacity: 0.4;
        }
    }

    input[type=checkbox] {
        height: 20px;
        width: 20px;
        margin: 0;
    }

    .btn-theme-s {
        width: 100%;
    }



    .input-validation-error {
        border: 1px solid $danger;
    }
}
